{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<section >
        <div class="container" style=" height:400px; background-image: url(../images/blog.gif); background-repeat: no-repeat !important;">
        </div>
      </section>

<section>
{% for blog in blogs %}
        <div class="container box">
            <h2 class="title is-2"><a href="{{ path('app_blog_show', {'id': blog.id}) }}">{{ blog.Titre }} </a></h2>
            <p class="is-size-4">{{ blog.resume }}</p>
            <p is-size-5><span>Publié par : Anouchka</span><span> le 01/03/2022</span></p>
        </div>
        {% else %}
            <p> Pas d'articles trouvés </p>
{% endfor %}
</section>

    
{% endblock %}
